/*maps*/
$redes: (
      twitter:#55aCee,
      facebook:#3a5795,
      instagram:#c25E30,

);
@each $red, $color in $redes{
    .btn--#{$red}{
        background-color: $color;
    }
}

/*extend*/
.redSocial{
    border: 2px solid black;
    background-color: yellow;
}

.redsocial--social{
    @extend .redSocial;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    border-radius: 5px;
}
.redsocial--nueva{
    @extend .redSocial;
    font-size: 30px;
    color: whitesmoke;
    border: 3px solid grey;
}

/*mixin*/
@mixin sizes ($width, $height){
    height: $height;
    width: $width;
}

.my_mixin{
    @include sizes(500px,50px);
    background-color: lightblue;
}