@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');


*{
    padding:0;
    margin: 0;
}

html{
    font-size: 62.5%;
    font-size: 1em;
}   

header{
    background-color: rgb(61, 155, 218);
    padding: 45px 60px 40px 50px;
}

h2{
    color: rgb(20, 20, 20);
}

.subtitulos{
    font-size: 32px;
    display: flex;
    justify-content: center;
}

#tipografia{
    font-size: 64px;
    color:rgb(29, 100, 124);
    font-weight: bolder;
    margin-left: 350px;
    display: flex;
    align-items: center;
    
}

footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(43, 49, 49);
    color: white;
    padding: 80px;
    margin-bottom: 0;
    margin-top: 400px;
}

section{
    background-color: white;
    font-size: large;
    color: rgb(2, 1, 1);
}

section h1{
    color: black;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    font-size: 32px;
}

header nav ul li{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

p{
    font-size: medium;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    color: black;
    padding: 40px;
    margin: right 400px;
    margin-left: 60px ;
    margin-top: 60px;
    border: 10px double rgb(26, 97, 121);
}

body{
    background-color: white;
}

ul{
    list-style: none;
}

h1{
    color: black;
    padding: 40px;
    margin: 80px 40px 80px 40px;
    border: 20px solid rgb(38, 77, 250);
    position: relative;
    top: 40px;
    left: 40px;
    display: flex;
    justify-content: center;
    
}

.parrafoDos{
    border-radius: 30px;
}
  
.nombre{
    margin-left: 400px;
    margin-top: 100px;
}

.escudo{
    margin-left: 550px;
}

.cancha{
    background-image:url(../imagenes/estadio.jpg);
    background-repeat: round;
    
}

.pagin2{
    font-size: 40px;
    color: white;
}

.video{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 40px;
}

.gym{
    font-weight: bolder;
    color: rgb(35, 69, 223);
    padding: 40px 20px 40px 20px ;
    margin-left: 600px;
}

.importante{
    color: rgb(37, 131, 131);
    font-weight: bolder;
    font-size: 50px;
    border: none;
}

.dep{
    margin-left: 350px;
}

.info{
    color: black;
    font-size: medium;
    border:20px groove rgb(44, 114, 138);
}

.cele{
    color: rgb(12, 143, 143);
    font-weight: bold;
    margin-top: 20px;
    margin-left: 500px;
}

.pagin{
    color: white;
    font-family: 'Rubik', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

.escudoNueve{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-top: 10%;
    margin-left: 40% ;
    border:20px inset rgb(63, 157, 189);
        
}

#grilla{
    width: 100% ;
    height: 100vh;
}

#grilla{
    display: grid;
    grid-template-areas: 
    "nav nav nav"
    "header header header"
    "historia historia historia"
    "footer footer footer";

    grid-template-columns: 20% auto 15%;
    grid-template-rows: 2fr 2fr 1fr 2fr;
    gap: 10px;
}
/*declaro areas*/
header{
    grid-area: header;
    background-color: rgb(32, 167, 212);
}

footer{
    grid-area: footer;
    background-color: grey;
}

main#historia{
    grid-area: historia;
    background-color: white;
}

nav{
    grid-area: nav;
    background-color:none;
}

/*mobile-smartphone*/
*{
    padding:0;
    margin: 0;
}

#grilla{
    width: 100% ;
    height: 100vh;
}


header{
    grid-area: header;
    background-color: rgb(32, 167, 212);
}

footer{
    grid-area: footer;
    background-color: grey;
}

main#historia{
    grid-area: historia;
    background-color: white;
}

nav{
    grid-area: nav;
    background-color:none;
}

#grilla{
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "historia"
    "footer";

    grid-template-columns: 100%;
    grid-template-rows: 2fr 2fr 1fr 2fr;
    gap: 5px;
}

@media(min-width:768px){
   
    #grilla{
       display: grid;
       grid-template-areas: 
        "header header"
        "nav    nav"
        "historia historia"
        "footer footer";
    
       grid-template-columns: 25% auto ;
       grid-template-rows: 2fr 2fr 1fr 2fr;
       gap: 5px;
    }
    
}

/*desktop*/
@media(min-width:1024px){
    #grilla{
        display: grid;
        grid-template-areas: 
        "nav nav nav"
        "header header header"
        "historia historia historia"
        "footer footer footer";
    
        grid-template-columns: 20% auto 15%;
        grid-template-rows: 2fr 2fr 1fr 2fr;
        gap: 10px;
    }
    

}

.animac{
    width: 100vw;
    height: 100vw;
    background-image: linear-gradient( to top, rgb(25, 164, 211),white);
}
